@import url(https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input,
select,
option {
    font: 16px/1.5 "Kode Mono", sans-serif
}

body {
    padding: 3em;
    background: rgb(193, 189, 186);
}

.flex {
    display: flex;
    gap: 1.5em;
}

.flex>* {
    flex-grow: 1;
}

form {
    max-width: 35em;
    margin: 0 auto;
    background: rgb(36, 51, 60);
    color: #fff;
    padding: 2em;
}

form nav {
    padding-bottom: 2em;
}


form nav ul {
    display: flex;
  }