@import url(https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, input, select, option {
    font: 16px/1.5 "Kode Mono", sans-serif
}

body {
    padding: 3em;
    background: rgb(193, 189, 186);
}

.flex {
    display: flex;
    gap: 1.5em;
  }